<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Pending</title>
</head>
<body>
    <h1>Please finish your transaction</h1>
    <h1>Amount : <%= transaction.currency  %> <%= transaction.gross_amount  %></h1>
    <h1>Payment via : <%= transaction.va_numbers[0].bank  %> VA Number <%= transaction.va_numbers[0].va_number  %></h1>
</body>
</html>